<dialog class="basket-popup" id="basket-popup">
  <span>Le produit est bien ajouté à votre panier</span>
  <div class="wrapper">
    <button id="backet-popup-close" class="btn">continuer mes achats</button>
    <button class="btn btn-alt"><a href="panier.html">Voir le panier</a></button>
  </div>
</dialog>