<div>
  <li><a href="erreur-404.html">Informations de livraison</a></li>
  <li><a href="erreur-404.html">Moyen de paiement</a></li>
  <li><a href="erreur-404.html">Questions fréquentes</a></li>
</div>

<div>
  <li><a href="erreur-404.html">Mentions légales</a></li>
  <li><a href="erreur-404.html">Conditions générales de vente</a></li>
  <li><a href="erreur-404.html">Politique de confidentialité</a></li>
  <li><a href="contact.html">Contact</a></li>
</div>

<div>
  <address>
    <p>
      Clinique Richenou<br />
      666 rue de l'impasse<br />
      66666 Neverland
    </p>
    <p class="number"><a href="tel:+33966666666">+ 33 9 66 66 66 66</a></p>
  </address>
  <div class="social-icons">
    <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
  </div>
</div>