<!--Topbar-->
<div class="topbar" id="topbar">
  <div class="contact number">
    <p class="tel"><a href="tel:+33966666666">+ 33 9 66 66 66 66</a></p>
    <p class="mail"><a href="mailto:contact@richenou.com">contact@richenou.com</a></p>
  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
  </div>

</div>
<!--navbar-->
<div class="navbar" id="navbar">
  <nav>
    <div class="icon-menu" id="menu-toggle">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <ul class="menu close" id="menu">
      <li>
        <a href="accueil.html" class="home-link"><i class="fa-solid fa-house icon-home"></i><span
            class="text-home">Accueil</span></a>
      </li>
      <li>
        <a href="boutique.html"><span>Boutique</span></a>
      </li>
      <li>
        <a href="erreur-404.html"><span>Qui sommes nous</span></a>
      </li>
      <li>
        <a href="erreur-404.html"><span>Blog</span></a>
      </li>
      <li>
        <a href="contact.html"><span>Contact</span></a>
      </li>
    </ul>
  </nav>
  <a href="panier.html" class="basket-link" title="voir le panier">
    <ul class="infos-basket number">
      <li class="price" id="basket-price"></li>
      <li class="items" id="basket-items"></li>
      <li class="basket"><i class="fa-solid fa-basket-shopping icon-basket"></i></li>
    </ul>
  </a>

</div>