<button id="product-prev" class="slideshow-btn">
  <i class="fa-solid fa-angle-left"></i>
</button>

<div class="products-content">
  <a href="expircuzepram-200mg.html" class="product-display" id="product-1">
    <img src="assets/img/medic.png" alt="Boite Expircuzépram" />
    <div class="content">
      <h3>Expircuzépram® 200mg</h3>
      <p>Pour les encéphalorectomies de tous les jours.</p>
    </div>
  </a>

  <a href="expircuzepram-flash.html" id="product-2">
    <img src="assets/img/medic.png" alt="Boite Expircuzépram" />
    <div class="content">
      <h3>Expircuzépram® 200mg FLASH</h3>
      <p>Pour un soulagement rapide des encéphalorectomies.</p>
    </div>
  </a>

  <a href="expircuzepram-400mg.html" id="product-3">
    <img src="assets/img/medic.png" alt="Boite Expircuzépram" />
    <div class="content">
      <h3>Expircuzépram® 400mg</h3>
      <p>Traitement d’attaque des encéphalorectomies difficiles</p>
    </div>
  </a>

  <a href="expircuzepram-kids.html" id="product-4">
    <img src="assets/img/medic.png" alt="Boite Expircuzépram" />
    <div class="content">
      <h3>Expircuzépram® 200mg KIDS</h3>
      <p>
        Pour les enfants de moins de 12 ans. Goût fraise-chocolat-cola-prout.
      </p>
    </div>
  </a>
</div>
<button id="product-next" class="slideshow-btn">
  <i class="fa-solid fa-angle-right"></i>
</button>
