<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('ejs/partials/head.ejs') %>
    <title>Erreur 404</title>
</head>

<body>
  <!-- ########## HEADER ########## -->
  <header>
    <%- include('ejs/partials/header.ejs') %>
  </header>
  <!-- ########## CONTENT ########## -->
  <main class="error-404">
    <h1><span>Erreur 404</span></h1>
    <div>
      <p>Encéphalorectomie fatale&nbsp;!</p>
      <a class="btn" href="accueil.html">Retour à l'accueil</a>
    </div>

  </main>

  <!-- ########## FOOTER ########## -->
  <footer>
    <%- include('ejs/partials/footer.ejs') %>
  </footer>
  <%- include('ejs/partials/scripts.ejs') %>
</body>

</html>