<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('ejs/partials/head.ejs') %>
    <title>Stop encéphalorectomie | Enfin une solution efficace</title>
    <meta name="description" content="En finir avec l'encéphalorectomie grâce à l’Expircuzépram®" />
</head>

<body class="landing-page">
  <h1>Encéphalorectomie ?</h1>
  <div class="background">
    <div class="circle">
      <div class="circle-out"></div>
      <div class="circle-in"></div>
    </div>
    <div class="image"></div>
  </div>
  <div class="content">
    <p>Une solution existe enfin !</p>
    <a href="accueil.html" class="btn">En savoir plus</a>
  </div>
</body>

</html>